body {
  /* background: url('https://us.123rf.com/450wm/karenr/karenr1509/karenr150900021/44926193-brown-dog-impresiones-de-la-pata-perrito-hueso-y-corazones-azulejo-modelo-de-la-repetici%C3%B3n-de-fondo-.jpg?ver=6'); */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
