.pages {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.number {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.botton-page {
    min-width: 35px;
    height: 30px;
    color: #000000;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border-radius: 5px;
    border: #000000 solid 1px;
    background: #ffffff;
    box-shadow: 0 2px #000000;

  }
   .botton-page:hover {
    box-shadow: 0 3px #000000;
    top: 1px;
  }
  .botton-page:active {
    box-shadow: 0 0 #000000;
    top: 7px;
  } 