.details {
  background-color: rgb(254, 250, 224);
  padding-top: 1%;
}
.detail-cont {
  padding: 10px;
  width: 600px;
  height: 700px;
  margin: 33px;
  transition: border 0.5s;
  cursor: pointer;
  font-family: inherit;
  background-image: linear-gradient(
    110deg,
    rgb(96, 108, 56) 40%,
    rgb(40, 54, 24) 320%
  );
  border-radius: 15px;
  box-shadow: 12px 12px 10px rgb(40, 54, 24);
  margin: auto;
  margin-top: 4rem;
  @media (max-width: 600px) {
    margin: auto;
  }
}

.botton-home {
  color: rgb(96, 108, 56);
  width: 100px;
  height: 25px;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 500;
  font-size: 14px;
  border: 2px solid;
  font-family: inherit;
  text-transform: uppercase;
  z-index: 1;
}

.details-name {
  font-size: 50px;
  text-align: center;
  color: rgb(254, 250, 224);
  margin: 12px;
  font-family: inherit;
}
.img {
  height: 330px;
  width: 500px;
  border-radius: 10px;
}

.detail-temp {
  font-size: 20px;
  text-align: center;
  font-style: bold;
  color: rgb(254, 250, 224);
  margin-bottom: 20px;
  margin-top: 20px;
  justify-content: center;
  margin-left: 70px;
  margin-right: 70px;
}

.info-detail {
  width: 100%;
  height: 100%;
  color: rgb(254, 250, 224);
  font-size: 16px;
}
.info-detail ul {
  list-style: none;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}
